.myDialog{
    -fx-background-image: url('../Resources/error-420-mHm1ASYNC0I-unsplash.jpg');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
     -fx-padding: 20 20 20 25;
}
.myDialog > *.button-bar > *.container{

}
.myDialog > *.label.content{
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}
.myDialog:header *.header-panel{
    -fx-background-image: url('../Resources/error-420-mHm1ASYNC0I-unsplash.jpg');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}
.myDialog:header *.header-panel *.label{
    -fx-font-size: 50px;
    -fx-font-style: italic;
    -fx-text-fill: #ffffff;


}
.dialog-pane .button{
   -fx-background-color : #F5A020;
   -fx-background-radius :  5 5 5 5;
   -fx-text-fill:white;
   -fx-pref-width: 120px;
    -fx-pref-height: 40px;
    -fx-font-size:20px;
    -fx-font-weight:Bolder;

 }