/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jan 24, 2022, 7:49:33 PM
    Author     : moham
*/
.Container
{
    -fx-background-image: url('/Resources/menuback.JPG');
    -fx-background-repeat: no-repeat; 
   -fx-background-size: cover;
    -fx-background-position: center;
}


.MainBtns
{
-fx-background-color : linear-gradient(#0A2833 0%, #0A2833 25%, #3E0F53 75%, #3E0F53 100%);
-fx-background-radius :  20;
}
.MainBtns:hover 
{
-fx-background-color : #0A2833 ;
-fx-background-radius :  20;
}
.MainBtns:pressed
{
-fx-background-color : #3E0F53 ;
-fx-background-radius :  20;
}
.MainBtns:hover .MainCircle
{
    -fx-fill:#ff341f;
}

.MainLables
{
    -fx-text-fill: white;
    -fx-font-family: "Helvetica";
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.EasyHardLables
{
    -fx-text-fill: white;
    -fx-font-family: "Helvetica";
    -fx-font-size: 40px;
    -fx-font-weight: bold;
}

.buttonBack
{
   -fx-background-color : none;
   -fx-background-radius :  20 20 20 20;
}

.TPSscrollPane
{
    -fx-background:none;
    -fx-background-color: linear-gradient(#6AFFFF 0%, #6AFFFF 25%, #58ACC0 75%, #58ACC0 100%);
    -fx-border: 200px solid;
    -fx-border-color: white;
    -fx-background-radius: 15;
     -fx-border-radius: 15;
    
}